#Container{
    position: relative;

}

#Booking{
    position:absolute;
    margin-left:1000px; 
    z-index:0;
}
#Description{
    position: absolute;
    transform: scale(1.00);
    left:15%;
    
}
#Reviews{
    margin-top: 95%;
    margin-left: 15%;
}



